<div class="row flex-items-xs-center" style="min-height:10vh">
  <div class="col-md-4" style="text-align:center">
    <h1>MY WORKS</h1>
  </div>
</div>
<div class="row flex-items-xs-center" style="background-color:#e1e4cb">
  <div class="col-md-8">
    <div class="row gallery-type-1 gallery">
      <div class="col-md-4 col-xs-12 illustration" *ngFor="let i of illustrations1">
        <img [src]="i.thumbnailUrl" alt="" srcset="">
      </div>
    </div>
    <div class="row gallery-type-1 gallery">
      <div class="col-md-4 col-xs-12 illustration" *ngFor="let i of illustrations2">
        <img [src]="i.thumbnailUrl" alt="" srcset="">
      </div>
    </div>
    <div class="row gallery-type-2 gallery">
      <div class="col-md-4 col-xs-12 illustration" *ngFor="let i of illustrations3">
        <img [src]="i.thumbnailUrl" alt="" srcset="">
      </div>
    </div>
  </div>
</div>