<!--
  ~ Copyright (c) 2016 VMware, Inc. All Rights Reserved.
  ~ This software is released under MIT license.
  ~ The full license information can be found in LICENSE in the root directory of this project.
  -->
<div class="row flex-items-xs-center" id="wrapper">
  <div class="col-xs" id="prompt">
    <div clas="row">
      <div class="col-md-6 offset-md-1" id="banner">
        <div id="title">
          EnternalENvY
        </div>
        <div id="sub-title">
          Art Works Library
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row flex-items-xs-center">
  <div class="col-md-4" style="text-align:center">
    <h1>MY WORKS</h1>
  </div>
</div>