// Copyright (c) 2016 VMware, Inc. All Rights Reserved.
// This software is released under MIT license.
// The full license information can be found in LICENSE in the root directory of this project.

#wrapper {
  margin: 0;
}

#prompt {
  background-image: url("http://ovr6h5i0v.bkt.clouddn.com/ec42034c71de1f3cdd89304e951ae9a6.jpg");
  min-height: 85vh;
}

#banner {
  color: white;
  margin-top: 30vh;
}

#title {
  min-height: 5rem;
  font-size: 5rem;
}

#sub-title {
  min-height: 3rem;
  font-size: 3rem;
}